{% extends "datafetch/__chart_base.html" %}


{% block chart_heading %}  
Reservoir Surface Elevation
{% endblock %}

{% block dateform %}
                <form action="/datafetch/depthchart" method="get">
                    <label for="chart_begin_date">Begin Date: </label>
                    <input class="datepicker" type="text" name="begin_date" value="{{ current_date }}">
                    <label for="chart_end_date">End Date: </label>
                    <input class="datepicker" type="text" name="end_date" value="{{ end_date }}">
                    <input type="submit" value="OK">
                </form>
{% endblock %}
