


<!DOCTYPE html>

<html>
    <head>
        
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <title>
            LEDE Reservoir Data Center
        </title>
        
           <link href="/static/datafetch/main.css" rel="stylesheet">
        
            <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
        
        
    
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script type="text/javascript">
        google.load("current", {'packages':["corechart"]});
    </script>

        
    </head>
    <body>
        <!-- Banner -->
            <section id="banner">
                <h1>Welcome to LEDE Reservoir</h1>
                <p>View Live reservoir data stream</p>
            </section>

    
            <div class="inner">
                <a href="/" class="logo">LEDE</a>
                <nav id="nav" style="background: lightblue">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                    <a href="/datafetch">LEDE Data</a>
                    <a href="/datafetch/depthchart">Depth Chart</a>
                    <a href="/datafetch/outflowchart">Outflow</a>
                    <a href="/datafetch/fillrate">Fill Rate</a>
                </nav>
                <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </div>
    
    
        <!-- Content -->
        <section id="two" class="wrapper style1 special">
            <div class="inner">
                
    <div class="row">
        <div class="span8">
            
    
<script type="text/javascript">
  google.setOnLoadCallback(drawChartCttBhRwnHF);
  function drawChartCttBhRwnHF() {
    var data = google.visualization.DataTable();
    data.addColumn('datetime', 'Measurement Time');
    data.addColumn('number', 'Measured Value');
    
        data.addRow([new Date(2017,6,18,0,7), 0.01]);
    
        data.addRow([new Date(2017,6,26,10,37), 5.2]);
    
        data.addRow([new Date(2017,6,26,10,52), 5.2]);
    
        data.addRow([new Date(2017,6,26,11,7), 5.21]);
    
        data.addRow([new Date(2017,6,26,11,22), 5.22]);
    
        data.addRow([new Date(2017,6,26,11,37), 5.23]);
    
        data.addRow([new Date(2017,6,26,11,52), 5.24]);
    
        data.addRow([new Date(2017,6,26,12,7), 5.24]);
    
        data.addRow([new Date(2017,6,26,12,22), 5.25]);
    
        data.addRow([new Date(2017,6,26,12,37), 5.26]);
    
        data.addRow([new Date(2017,6,26,12,52), 5.2700000000000005]);
    
        data.addRow([new Date(2017,6,26,13,7), 5.28]);
    
        data.addRow([new Date(2017,6,26,13,22), 5.29]);
    
        data.addRow([new Date(2017,6,26,13,37), 5.29]);
    
        data.addRow([new Date(2017,6,26,13,52), 5.3]);
    
        data.addRow([new Date(2017,6,26,14,7), 5.3100000000000005]);
    
        data.addRow([new Date(2017,6,26,14,22), 5.32]);
    
        data.addRow([new Date(2017,6,26,14,37), 5.33]);
    
        data.addRow([new Date(2017,6,26,14,52), 5.34]);
    
        data.addRow([new Date(2017,6,26,15,7), 5.3500000000000005]);
    
        data.addRow([new Date(2017,6,26,15,22), 5.36]);
    
        data.addRow([new Date(2017,6,26,15,37), 5.36]);
    
        data.addRow([new Date(2017,6,26,15,52), 5.37]);
    
        data.addRow([new Date(2017,6,26,16,7), 5.38]);
    
        data.addRow([new Date(2017,6,26,16,22), 5.39]);
    
        data.addRow([new Date(2017,6,26,16,37), 5.4]);
    
        data.addRow([new Date(2017,6,26,16,52), 5.41]);
    
        data.addRow([new Date(2017,6,26,17,7), 5.42]);
    
    
      var options = {"vAxis": {"viewWindow": {"max": 8.897470138888908, "min": 0}}, "title": "Reservoir Depth Above Sensor"};
    

    
  var chart = new google.visualization.LineChart(document.getElementById('CttBhRwnHF'));

    chart.draw(data, options);
    chartCttBhRwnHF = chart;
  }
</script>

<div id="CttBhRwnHF" style="width: 1500px; height: 1000px;"></div>



        </div>
        <div class="span4">
            
    Side Column

        </div>
    </div>

            </div>
        </section>
    </body>
</html>
